/*---------------------
  Back to top button
-----------------------*/

.top-scrollerx {
  position: fixed;
      bottom: 30px;
      right: 30px;
      font-size: 1em;
      display: none;
      z-index: 999;
      text-align: center;
      cursor: pointer;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: rgba(18,28,29,.35);
      color: #fff;
      line-height: 40px;
  
  }
   .top-scrollerx:hover {
      background: rgba(0,0,0,.6);
  }
  

/*---------------------
  Hero
-----------------------*/
.hero {
  padding-top: 50px;
  padding-bottom: 0px;
}

.hero__text {
  span {
    font-size: 15px;
    font-weight: 500;
    color: $primary-color;
    text-transform: uppercase;
    display: block;
  }

  h2 {
    font-size: 48px;
    color: $white-color;
    font-weight: 700;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 35px;
  }
}

video {
  position: absolute;
  top: 50%;
  left: 50%;

  width: auto;
  height: auto;
  z-index: -2;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.4;
  z-index: -1;
}

@media (pointer: coarse) and (hover: none) {
  hero {
    background: url('/img/hero-bg.jpg') black no-repeat center center scroll;
  }
  hero video {
    display: none;
  }
}


/*---------------------
  Consultation
-----------------------*/
.consultation {}

.consultation__form {
  padding: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  background: $white-color;


  .section-title {
    margin-bottom: 30px;
  }

  form {

    input {
      font-size: 15px;
      color: #666666;
      width: 100%;
      height: 50px;
      padding-left: 20px;
      border: 1px solid #f2f2f2;
      border-radius: 5px;
      margin-bottom: 20px;

      &::placeholder {
        color: #666666;
      }

      &:focus {
        border-color: #9d9d9d;
      }
    }

    .datepicker__item {
      position: relative;

      i {
        position: absolute;
        right: 20px;
        top: 18px;
        font-size: 15px;
        color: #666666;
      }
    }

    .nice-select {
      float: none;
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding-left: 20px;
      border-radius: 5px;
      margin-bottom: 20px;

      &:after {
        border-bottom: 1.5px solid #666666;
        border-right: 1.5px solid #666666;
        height: 8px;
        right: 20px;
        top: 46%;
        width: 8px;
      }

      span {
        font-size: 15px;
        color: #666666;
      }

      &.active,
      &.open,
      &:focus {
        border-color: #666666;
      }

      .list {
        width: 100%;
        margin-top: 0;
        border-radius: 5px;
      }
    }

    button {
      width: 100%;
    }
  }
}

.consultation__text {
  padding: 100px 0;
  position: relative;

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #f2f2f2;
    content: "";
  }
}

.consultation__text__item {

  .section-title {
    margin-bottom: 15px;

    h2 {
      line-height: 47px;

      b {
        font-weight: 700;
        color: $primary-color;
      }
    }
  }

  p {
    color: #444444;
    margin-bottom: 0;
  }
}


/*---------------------
  Choose Us
-----------------------*/
.chooseus {
  padding-bottom: 20px;
  padding-top: 0px;
}

.chooseus__item {
  text-align: center;
  margin-bottom: 30px;

  h5 {
    font-size: 20px;
    color: $primary-color;
    font-weight: 600;
    margin-top: 26px;
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 0;
  }
}

/*---------------------
  Gallery
-----------------------*/

.photo_container {
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 0px;
  background: white;
 }

 .photobanner {
  height: 100%;
  width: 3550px;
  margin-bottom: 80px;
 }

 /*keyframe animations*/
.first {
  -webkit-animation: bannermove 30s linear infinite;
     -moz-animation: bannermove 30s linear infinite;
      -ms-animation: bannermove 30s linear infinite;
       -o-animation: bannermove 30s linear infinite;
          animation: bannermove 30s linear infinite;
 }
  
 @keyframes "bannermove" {
  0% {
     margin-left: 0px;
  }
  100% {
     margin-left: -2125px;
  }
  
 }
  
 @-moz-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }
  
 @-webkit-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }
  
 @-ms-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }
  
 @-o-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }


/*---------------------
  Latest
-----------------------*/

.iframe-fb-container {
  text-align: center;
  width:400px;
  height:500px;
  display:inline-block;
}

.iframe-fb {
  width: 400px;
  height: 500px;

}

.latest {
  padding-top: 20px;
  padding-bottom: 50px;
}

.latest__btn {
  text-align: right;
}

.latest__item {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 30px;
  margin-bottom: 30px;

  &:hover {
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);

    h5 {

      a {
        text-decoration: underline;
      }
    }
  }

  h5 {
    margin-bottom: 10px;

    a {
      color: $heading-color;
      font-weight: 600;
      line-height: 24px;
    }
  }

  ul {

    li {
      list-style: none;
      display: inline-block;
      font-size: 13px;
      margin-right: 22px;
      color: #888888;
      position: relative;
      font-weight: 300;

      &:after {
        position: absolute;
        right: -16px;
        top: 12px;
        height: 5px;
        width: 5px;
        background: #888888;
        border-radius: 50%;
        content: "";
      }

      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          display: none;
        }
      }
    }
  }
}